# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log

# Env
.env
.env.local
.env*.local

# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo
